@charset "UTF-8";

article {
	/* min-height : 100vh; */
	background : linear-gradient(to bottom, rgba(254, 242, 241, 1) 0%, rgba(255, 255, 255, 1) 100%);
	}
	
@media (min-width : 1401px) {
	article {
		padding-top : 100px;
		}
	}
	
@media (min-width : 1041px) and (max-width : 1400px) {
	article {
		padding-top : 90px;
		}
	}
	
@media (min-width : 721px) and (max-width : 1040px) {
	article {
		padding-top : 170px;
		}
	}
	
@media (min-width : 481px) and (max-width : 720px) {
	article {
		padding-top : 160px;
		}
	}
	
@media (max-width : 480px) {
	article {
		padding-top : 150px;
		}
	}