@charset "UTF-8";

article {
	/* min-height : 100vh; */
	background : linear-gradient(to bottom, rgba(254, 242, 241, 1) 0%, rgba(255, 255, 255, 1) 100%);
	}
	
article > div.content {
	position : relative;
	max-width : 960px;
	margin : 0 auto;
	}
	
article h1,
article h2,
article h3,
article h4,
article h5 {
	text-align : center;
	color : rgba(1, 31, 88, 1);
	}
	
article > div.content blockquote {
	text-align : center;
	}
	
article > div.content img {
	max-width : 100%;
	height : auto;
	margin : 0 auto;
	}

article > div.content ul {
	padding : 0;
	margin : 0;
	list-style : none;
	}
	
article > div.content ul > li {
	position : relative;
	padding : 5px 0 5px 30px;
	}
	
article > div.content ul > li::before {
	display : block;
	position : absolute;
	top : 15px;
	left : 0;
	z-index : 10;
	width : 20px;
	height : 1px;
	content : ".";
	text-indent : -999em;
	background-color : rgba(1, 31, 88, 1);
	}

/* обертка для видео с YouTube-канала :: начало */
div.youtube {
	position : relative;
	max-width : 640px;
	 margin : 30px auto;
	}

div.youtube > div {
	position : relative;
    width : 100%;
    height : 0;    
    padding-bottom : 60%;
    overflow : hidden;
    }
    
div.youtube > div iframe, 
div.youtube > div object, 
div.youtube > div embed {
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    border : 0;
    padding : 0;
    margin : 0;
	}
/* обертка для видео с YouTube-канала :: конец */


article > div.box {
	position : relative;
	}
	
article > div.box:before {
    position : absolute;
    top : 0;
    left : 0; 
    background-color : rgba(1, 31, 88, 0.1);
    content: ".";
    text-indent : -999em;
    display: block;
    width: 100%;
    height: 1px;
	}

/* прайс-лист :: начало */
article > div.prices > div > table,
article > div.prices > div > table > tbody {
	display : block;
	}
	
article > div.prices > div > table {
	width : 100%;
	max-width : 960px;
	margin : 0 auto;
	}
	
article > div.prices > div > table > tbody > tr {
	display : flex;
	display : -webkit-box;
	display : -webkit-flex;
	display : -ms-flexbox;
	justify-content : space-between;
	-webkit-justify-content : space-between;
	-ms-justify-content : space-between;
	padding : 10px 0;
	}
	
article > div.prices > div > table > tbody > tr:not(:first-child) {
	border-bottom : solid 1px rgba(1, 31, 88, 0.1);
	}
	
article > div.prices > div > table > tbody > tr:first-child {
	font : 400 12px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	color : rgba(1, 31, 88, 0.5);
	}
	
article > div.prices > div > table > tbody > tr > td:last-child {
	min-width : 60px;
	white-space : nowrap;
	text-align : right;
	}
/* прайс-лист :: конец */
	
@media (min-width : 1401px) {
	article {
		padding-top : 100px;
		}
		
	article > div.box {
		padding : 60px 0 0 0;
		}
	
	article > div.prices > div,
	article > div.content {
		padding : 60px 0;
		}
		
	article > div.content blockquote {
		font : 600 20px/24px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	article h1 {
		font : 700 40px/70px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	article h2,
	article h3 {
		font : 700 36px/40px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	article h4,
	article h5 {
		font : 600 36px/40px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
	}
	
@media (min-width : 1041px) and (max-width : 1400px) {
	article {
		padding-top : 90px;
		}
		
	article > div.box {
		padding : 50px 0 0 0;
		}
	
	article > div.prices > div,
	article > div.content {
		padding : 50px;
		}
		
	article > div.content blockquote {
		font : 600 20px/24px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	article h1 {
		font : 700 36px/60px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	article h2,
	article h3 {
		font : 700 32px/36px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	article h4,
	article h5 {
		font : 600 32px/36px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
	}
	
@media (min-width : 721px) and (max-width : 1040px) {
	article {
		padding-top : 170px;
		}
		
	article > div.box {
		padding : 40px 0 0 0;
		}
	
	article > div.prices > div,	
	article > div.content {
		padding : 40px;
		}
		
	article > div.content blockquote {
		font : 600 16px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	article h1 {
		font : 700 32px/50px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	article h2,
	article h3 {
		font : 700 28px/32px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	article h4,
	article h5 {
		font : 600 28px/32px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
	}
	
@media (min-width : 481px) and (max-width : 720px) {
	article {
		padding-top : 160px;
		}

	article > div.box {
		padding : 30px 0 0 0;
		}

	article > div.prices > div,	
	article > div.content {
		padding : 30px;
		}
		
	article > div.content blockquote {
		font : 600 16px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	article h1 {
		font : 700 28px/40px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	article h2,
	article h3 {
		font : 700 24px/28px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	article h4,
	article h5 {
		font : 600 24px/28px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
	}
	
@media (max-width : 480px) {
	article {
		padding-top : 150px;
		}
		
	article > div.box {
		padding : 20px 0 0 0;
		}
	
	article > div.prices > div,
	article > div.content {
		padding : 20px;
		}
		
	article > div.content blockquote {
		font : 600 16px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	article h1 {
		font : 700 24px/30px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	article h2,
	article h3 {
		font : 700 20px/24px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	article h4,
	article h5 {
		font : 600 20px/24px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
	}