@charset "UTF-8";

footer > ul {
	display: flex;
	list-style: none;
	padding: 0 !important;
	margin: 0 !important;
}

footer > ul > li > ul {
	list-style: none;
	padding: 0 !important;
	margin: 0 !important;
}

footer > ul > li > span:not(:last-child) {
	font-weight: 700;
}

footer > ul > li > ul > li {
	font: 400 15px/18px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
}

footer > ul > li > ul > li > a {
	color: rgba(1, 31, 88, 1);
	transition : all 0.25s ease;
}

footer > ul > li > ul > li > a:hover {
	color: rgba(244, 86, 65, 1);
}

footer > ul > li > ul > li > a::before {
	display: none;
}

footer > ul > li > ul > li {
	margin-top: 10px;
	margin-bottom: 10px;
}

footer > ul > li > ul.social_list {
	display: flex;
	width: 150px;
	justify-content: space-between;
}

footer > ul > li > ul.social_list > li {
	width: 30px;
	height: 30px;
}

footer > ul > li > ul.social_list > li > a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

footer > ul > li > ul.social_list > li > a::after {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font : normal 30px/30px "icomoon";
}

footer > ul > li > ul.social_list > li > a.u-tube::after {
	content: "\e90a";
	color: rgba(237, 31, 36, 1);
}

footer > ul > li > ul.social_list > li > a.fb::after {
	content: "\e90b";
	color: rgba(59, 89, 152, 1);
}

footer > ul > li > ul.social_list > li > a.insta::after {
	content: "\e90c";
	color: rgba(105, 137, 179, 1);
}

footer > ul > li > ul.social_list > li > a.vk::after {
	content: "\e90d";
	color: rgba(77, 117, 164, 1);
}

footer > ul > li:last-child > span {
	color: rgba(60, 60, 60, 1);
}

@media (min-width: 1041px) {
	footer > ul {
		position: relative;
		width: 940px;
		justify-content: space-between;
		padding-top: 35px !important;
		margin: 0 auto 20px !important;
	}

	footer > ul > li:not(:last-child) > span {
		margin-bottom: 24px;
	}

	footer > ul > li:last-child {
		position: absolute;
		bottom: 10px;
		right: 0;
		font: 400 13px/18px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	}

	footer > ul > li:last-child > span > br {
		display: none;
	}
}

@media (max-width: 1040px) {
	footer > ul {
		width: 100%;
		flex-direction: column;
		padding-bottom: 10px !important;
	}

	footer > ul > li {
		width: 100%;
	}

	footer > ul > li.social {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	footer > ul > li.social > ul {
		margin-left: 40px !important;
	}

	footer > ul > li:not([class]) {
		text-align: center;
	}

	footer > ul > li.social {
		padding-top: 20px;
	}

	footer > ul > li:first-child > span,
	footer > ul > li:nth-child(2) > span,
	footer > ul > li:nth-child(3) > span {
		display: block;
		width: 100%;
		background-color: rgba(245, 104, 86, 1);
		color: rgba(255, 255, 255, 1);
		border-bottom: 1px solid rgba(255, 255, 255, 1);
		padding-top: 10px;
		padding-bottom: 10px;
		cursor: pointer;
	}

	footer > ul > li:first-child > ul,
	footer > ul > li:nth-child(2) > ul,
	footer > ul > li:nth-child(3) > ul {
		display: none;
		transition : all 0.25s ease;
	}

	footer > ul > li:first-child > ul.opened,
	footer > ul > li:nth-child(2) > ul.opened,
	footer > ul > li:nth-child(3) > ul.opened  {
		display: block;
	}

	footer > ul > li:last-child {
		text-align: center;
		padding-top: 20px;
		white-space: nowrap;
		padding-bottom: 20px;
		font: 400 12px/16px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	}

}

@media (min-width: 721px) and (max-width : 1040px) {
	footer > ul > li:last-child {
		padding-left: 40px;
		padding-right: 40px;
	}
}

@media (min-width : 481px) and (max-width : 720px) {
	footer > ul > li:last-child {
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media (max-width : 480px) {
	footer > ul > li:last-child {
		padding-left: 20px;
		padding-right: 20px;
	}
}
