@charset "UTF-8";

footer > ul {
	display: flex;
	max-width: 1140px;
	list-style: none;
	margin: 0 auto;
}

footer > ul > li > ul {
	list-style: none;
	margin: 0;
}

footer > ul > li > span {
	font-weight: 700;
}

footer > ul > li > ul > li {
	font: 400 15px/18px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
}

footer > ul > li > ul > li > a {
	color: rgba(1, 31, 88, 1);
	transition : all 0.25s ease;
}

footer > ul > li > ul > li > a:hover {
	color: rgba(244, 86, 65, 1);
}

footer > ul > li > ul > li > a::before {
	display: none;
}

footer > ul > li > ul > li {
	margin-top: 5px;
	margin-bottom: 10px;
}

footer > ul > li > ul.social_list {
	display: flex;
	width: 150px;
	justify-content: space-between;
	margin-left: auto;
}

footer > ul > li > ul.social_list > li {
	width: 30px;
	height: 30px;
}

footer > ul > li > ul.social_list > li > a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

footer > ul > li > ul.social_list > li > a::after {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font : normal 30px/30px "icomoon";
}

footer > ul > li > ul.social_list > li:hover > a::after {
	transform: scale(1.1);
}

footer > ul > li > ul.social_list > li > a.u-tube::after {
	content: "\e90a";
	color: rgba(237, 31, 36, 1);
}

footer > ul > li > ul.social_list > li > a.fb::after {
	content: "\e90b";
	color: rgba(59, 89, 152, 1);
}

footer > ul > li > ul.social_list > li > a.insta::after {
	content: "\e90c";
	color: rgba(105, 137, 179, 1);
}

footer > ul > li > ul.social_list > li > a.vk::after {
	content: "\e90d";
	color: rgba(77, 117, 164, 1);
}

footer > span {
	display: block;
}

@media (min-width: 1041px) {
	footer > ul {
		position: relative;
		padding: 35px 50px 0 50px;
		margin-bottom: 20px !important;
	}

	footer > ul > li {
		width: 25%;
	}

	footer > ul > li > ul {
		padding: 10px 0;
	}

	footer > ul > li.social  {
		display: flex;
		flex-direction: column;
	}

	footer > ul > li.social > span {
		align-self: flex-end;
}

	footer > span {
		position: relative;
		bottom: 45px;
		margin: 0 auto;
		padding: 0 50px;
		max-width: 1140px;
		font: 400 12px/16px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		text-align: right;
	}

	footer > span > br {
		display: none;
	}
}

@media (max-width: 1040px) {
	footer > ul {
		width: 100%;
		flex-direction: column;
		padding-left: 0;
		padding-bottom: 10px !important;
	}

	footer > ul > li.social > span {
		display: none;
	}

	footer > ul > li > ul {
		padding: 0;
	}

	footer > ul > li.social > ul {
		margin: 0 auto;
	}

	footer > ul > li:not([class]) {
		text-align: center;
		width: 100%;
	}

	footer > ul > li.social {
		padding-top: 20px;
		padding-bottom: 60px;
	}

	footer > ul > li:not(:last-child) > span {
		display: block;
		width: 100%;
		background-color: rgba(245, 104, 86, 1);
		color: rgba(255, 255, 255, 1);
		border-bottom: 1px solid rgba(255, 255, 255, 1);
		padding-top: 10px;
		padding-bottom: 10px;
		cursor: pointer;
	}

	footer > ul > li:not(:last-child) > ul {
		overflow: hidden;
		height: 0;
		transition : all 0.25s ease;
	}

	footer > ul > li:not(:last-child) > ul.opened{
		height: 100%;
	}

	footer > span {
		position: absolute;
		text-align: center;
	    bottom: 10px;
	    left: 50%;
		white-space: nowrap;
	    transform: translate(-50%, 0);
	}
}
