@charset "UTF-8";

div.container > footer {
	position : relative;
	display : table-row !important;
	width : 100%;
  	height : 1px;
	}
	
div.container > footer > div.order {
	flex-wrap : wrap;
	}
	
div.container > footer > div.order > div {
	width : 100%;
	background-image : url("../img/xgirl.jpg?05032019");
	background-position : 15% 100%;
	background-repeat : no-repeat;
	background-size : contain;
	}
	
div.container > footer > div.order> span {
	display : block;
	width : 100%;
	text-align : center;
	}
	
div.container > footer > div.order > div > div.form {
	max-width : 340px;
	}

div.container > footer > div.order,
div.container > footer > div.contacts {
	display : flex;
	background-color : rgba(239, 241, 245, 1);
	}
	
div.container > footer > div.contacts > div:first-child {
	position : relative;
	min-height : 320px;
	overflow : hidden;
	}

div.container > footer > div.order > span,
div.container > footer > div.contacts > div > span {
	color : rgba(1, 31, 88, 1);
	}
	
div.container > footer > div.contacts > div > ul {
	padding : 10px 0 0 0;
	margin : 0;
	list-style : none;
	}
	
div.container > footer > div.contacts > div > ul > li {
	position : relative;
	padding : 0 0 0 30px;
	margin : 15px 0;
	}
	
div.container > footer > div.contacts > div > ul > li::before {
	position : absolute;
	left : 0;
	z-index : 10;
	color : rgb(186, 195, 210);
	}
	
div.container > footer > div.contacts > div > ul > li.location::before {
	top : 0;
	content: "\e905";
	}
	
div.container > footer > div.contacts > div > ul > li.phone::before {
	top : 0;
	content: "\e907";
	}
	
div.container > footer > div.contacts > div > ul > li.time::before {
	top : 0;
	content: "\e908";
	}
	
div.container > footer > div.contacts > div > ul > li.email::before {
	top : 0;
	content: "\e902";
	}
	
div.container > footer > div.contacts > div > ul > li.payment::before {
	top : 10px;
	content: "\e900";
	}
	
div.container > footer > div.contacts > div > ul > li > span {	
	display : inline-block;
	margin : 0 10px 0 0;
	}
	
div.container > footer > div.contacts > div > ul > li > a.phone {
	margin : 0 10px 0 0;
	color : rgba(68, 68, 68, 1) !important;
	}
	
div.container > footer > div.contacts > div > ul > li > a.phone::before {
	display : none !important;
	}
	
div.container > footer > div.contacts > div > ul > li.payment > ul {
	display : flex;
	padding : 0;
	margin : 0;
	list-style : none;
	}
	
div.container > footer > div.contacts > div > ul > li.payment > ul > li {
	position : relative;
	width : 55px;
	height : 55px;
	}
	
div.container > footer > div.contacts > div > ul > li.payment > ul > li:not(:last-child) {
	margin : 0 10px 0 0;
	}
	
div.container > footer > div.contacts > div > ul > li.payment > ul > li::before {
	position : absolute;
	top : 0;
	left : 0;
	z-index : 10;
	width : 100%;
	height : 100%;
	content : "";
	background-position : 50% 50%;
	background-repeat : no-repeat;
	background-size : contain;
	}
	
div.container > footer > div.contacts > div > ul > li.payment > ul > li.mir::before {
	background-image : url("../img/mir.svg?170220191124");
	}
	
div.container > footer > div.contacts > div > ul > li.payment > ul > li.visa::before {
	background-image : url("../img/visa.svg?170220191124");
	}
	
div.container > footer > div.contacts > div > ul > li.payment > ul > li.master::before {
	background-image : url("../img/master.svg?170220191124");
	}
	
div.container > footer > div.contacts > div > ul > li.payment > ul > li.maestro::before {
	background-image : url("../img/maestro.svg?170220191124");
	}

div.container > footer > div.contacts > div > div.route {
	display : none;
	position : absolute;
	top : 20px;
	left : 20px;
	z-index : 20;
	width : 280px;
	height : 40px;
	padding-right : 40px;
	background-color : rgba(255, 255, 255, 1);
	box-shadow : 0 2px 5px rgba(0, 0, 0, 0.25);
	}
	
div.container > footer > div.contacts > div > div.route > button {
	position : absolute;
	top : 0;
	right : 0;
	z-index : 10;
	width : 40px;
	height : 40px;
	padding : 0;
	margin : 0;
	border : 0;
	background-color : rgba(244, 86, 65, 1);
	cursor : pointer;
	}
	
div.container > footer > div.contacts > div > div.route > button::before {
	position : absolute;
	left : 0;
	top : 0;
	z-index : 10;
	width : 100%;
	height : 100%;
	color : rgba(255, 255, 255, 1);
	font : normal 24px/40px "icomoon" !important;
	text-align : center;
	content : "\e90f";
	}
	
div.container > footer > div.contacts > div > div.route > input {
	position : relative;
	z-index : 2;
	display : block;
	width : 100%;
	height : 100%;
	padding : 0 20px;
	border : 1px solid rgba(203, 207, 213, 0);
	border-radius : 0;
	font : 400 16px/40px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	background-color : rgba(250, 250, 250, 0);
	color : rgba(68, 68, 68, 1);
	}
	
div.container > footer > div.contacts > div > div.route > input + span {
	position : absolute;
	display : inline-block;
	top : 10px;
	left : 20px;
	z-index : 1;
	max-width : 200px;
	color : rgba(104, 104, 104, 1);
	transform : scale(1,1);
	font: 400 16px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	white-space : nowrap;
	transition : all 0.25s ease;
	overflow : hidden;
	}
	
div.container > footer > div.contacts > div > div.route > input:focus + span,
div.container > footer > div.contacts > div > div.route > input + span.selected { 
	transform : scale(0,0); 
	}

div.container > footer > div.contacts > div > div.map {
	position : absolute;
	top : 0;
	left : 0;
	z-index : 10;
	width : 100%;
	height : calc(100% + 40px);
	}

div.zoom {
	position : absolute;
    left : 10px;
    top : 105px;
	}

div.zoom > div {
    position : relative;
    margin-bottom : 10px;
    width : 40px;
    height : 40px;
	background-color : rgba(255 , 255 , 255, 1);
    cursor : pointer;
    box-shadow : 0 2px 5px rgba(0, 0, 0, 0.25);
    transition : all 0.25s ease;
	}
	
div.zoom > div::before, 
div.zoom > div::after {
    position : absolute;
    top : 50%;
    left : 50%;
    margin : -1px 0 0 -8px;
    width : 16px;
    height : 2px;
    background-color : rgba(244, 86, 65, 1);
    content : '.';
    text-indent : -999em;
    overflow : hidden;
    transition : all 0.25s ease;
	}
	
div.zoom > div.in::before {
    margin : -8px 0 0 -1px;
    width : 2px;
    height : 16px;
	}
	
div.zoom > div:hover {
	background-color : rgba(244, 86, 65, 1);
	}
	
div.zoom > div:hover::before, 
div.zoom > div:hover::after {
	background-color : rgba(255 , 255 , 255, 1);
	}
	
@media (min-width : 1401px) {
	div.container > footer > div.order {
		padding : 0 60px;
		}
		
	div.container > footer > div.order> span {
		padding : 60px 0;
		}
		
	div.container > footer > div.order > div {
		min-height : 520px;
		padding-left : calc(50% + 60px);
		}
		

	div.container > footer > div.contacts > div {
		width : 50%;
		}
		
	div.container > footer > div.contacts > div:last-child {
		padding : 30px 60px;
		}
	
	div.container > footer > div.order > span,
	div.container > footer > div.contacts > div > span {
		font : 700 36px/36px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > footer > div.contacts > div > ul > li > a.phone {
		font : 400 24px/24px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > footer > div.contacts > div > ul > li::before {
		font : normal 16px/24px "icomoon" !important;
		}
	}
	
@media (min-width : 1041px) and (max-width : 1400px) {
	div.container > footer > div.contacts > div {
		width : 50%;
		}
		
	div.container > footer > div.contacts > div:last-child {
		padding : 25px 50px;
		}
		
	div.container > footer > div.contacts > div > span {
		font : 700 36px/36px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > footer > div.contacts > div > ul > li > a.phone {
		font : 400 24px/24px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > footer > div.contacts > div > ul > li::before {
		font : normal 16px/24px "icomoon" !important;
		}
	}
	
@media (min-width : 721px) and (max-width : 1040px) {
	div.container > footer > div.contacts > div {
		width : 50%;
		}

	div.container > footer > div.contacts > div:last-child {
		padding : 20px 40px;
		}
		
	div.container > footer > div.contacts > div > span {
		font : 700 24px/24px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}

	div.container > footer > div.contacts > div > ul > li > a.phone {
		font : 400 20px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}

	div.container > footer > div.contacts > div > ul > li::before {
		font : normal 16px/20px "icomoon" !important;
		}
	}
	
@media (min-width : 481px) and (max-width : 720px) {
	div.container > footer > div.contacts {
		flex-direction : column;
		}
	
	div.container > footer > div.contacts > div:last-child {
		padding : 30px;
		}
		
	div.container > footer > div.contacts > div > span {
		font : 700 24px/24px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > footer > div.contacts > div > ul > li > a.phone {
		font : 400 20px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > footer > div.contacts > div > ul > li::before {
		font : normal 16px/20px "icomoon" !important;
		}
	}
	
@media (max-width : 480px) {
	div.container > footer > div.contacts {
		flex-direction : column;
		}

	div.container > footer > div.contacts > div:last-child {
		padding : 20px;
		}
		
	div.container > footer > div.contacts > div > span {
		font : 700 24px/24px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > footer > div.contacts > div > ul > li > a.phone {
		font : 400 20px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > footer > div.contacts > div > ul > li::before {
		font : normal 16px/20px "icomoon" !important;
		}
	}