@charset "UTF-8";

div.container > header {
	right : 0;
	background-color : rgba(255, 255, 255, 1);
	border-bottom : solid 1px rgba(239, 240, 245, 1);
	}
	
div.container > header > div {
	position : relative;
	max-width : 1280px;
	margin : 0 auto;
	}
	
div.container > header > div > button {
	height : 40px;
	margin : 0;
	border : 0;
	background-color : rgba(244, 86, 65, 1);
	color : rgba(255, 255, 255, 1);
	white-space : nowrap;
	cursor : pointer;
	}
	
div.container > header > div > button::before {
	left : 0;
	width : 50px;
	height : 40px;
	font : normal 24px/40px "icomoon" !important;
	text-align : center;
	content: "\e914";
	}
	
div.container > header > div > button::after {
	width : 100%;
	height : 40px;
	font : 600 16px/40px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	content : "Запишитесь на прием";
	}
	
div.container > header > div > a {
	text-decoration : none;
	white-space : nowrap;
	}
	
div.container > header > div > a,
div.container > header > div > a.move::before,
div.container > header > div > a.phone::after,
div.container > header > div > a.phone::before,
div.container > header > div > button,
div.container > header > div > button::after,
div.container > header > div > button::before {
	display : block;
	}
	
div.container > header > div > a,
div.container > header > div > a.move::before,
div.container > header > div > a.phone::after,
div.container > header > div > a.phone::before,
div.container > header > div > button,
div.container > header > div > button::before {
	position : absolute;
	}
	
div.container > header > div > a,
div.container > header > div > a.move::before,
div.container > header > div > a.phone::before,
div.container > header > div > button,
div.container > header > div > button::before {
	top : 0;
	z-index : 10;	
	}
	
div.container > header > div > a,
div.container > header > div > a.move::after,
div.container > header > div > a.phone::before,
div.container > header > div > a.move::before {
	transition : color 0.25s ease;
	}
	
div.container > header > div > a,
div.container > header > div > a.move::after,
div.container > header > div > a.phone:hover::before,	
div.container > header > div > a.move:hover::before {
	color : rgba(1, 31, 88, 1);
	}
	
div.container > header > div > a.move::before,
div.container > header > div > a.phone::after,
div.container > header > div > a.phone::before {
	color : rgba(1, 31, 88, 0.5);
	}
	
div.container > header > div > a.move::before {
	right : 100%;
	width : 30px;
	height : 40px;
	font : normal 30px/40px "icomoon" !important;
	content: "\e913";
	}
	
div.container > header > div > a.move::after {
	font : 400 20px/40px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	content: "Как добраться";
	}

div.container > header > div > a.phone:hover,
div.container > header > div > a.move:hover::after {
	color : rgba(244, 86, 65, 1);
	}
	
div.container > header > div > a.phone {	
	font : 400 18px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	}
	
div.container > header > div > a.phone::after {
	right : 0;
	top : calc(100% + 2px);
	z-index : 10;
	font : 400 14px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	content : "8:00-21:00, ежедневно";
	}
	
div.container > header > div > a.phone::before {
	right : calc(100% + 10px);
	font : normal 18px/20px "icomoon" !important;
	content: "\e906";
	}
	
div.container > header > div > ul.sandwich {
	position: absolute;
	z-index: 10;
	width: 28px;
	height: 28px;
	margin : 0;
	padding : 0;
	list-style : none;
	cursor : pointer;
	overflow : hidden;
	}
	
div.container > header > div > ul.sandwich > li {
	display : inherit;
	position : inherit;
	left : 0;
	z-index : inherit;
	width : 100%;
	height : 2px;
	background-color : rgba(244, 86, 65, 1);
	transition : all 0.25s ease;
	}
	
div.container > header > div > ul.sandwich > li:first-child,
div.container > header > div > ul.sandwich > li:nth-child(2) {
	width : 66.6666%;
	top : calc(50% - 1px);
	transform : rotate(0);
	}
	
div.container > header > div > ul.sandwich > li:nth-child(3) { 
	width : 33.3333%;
	top : 0; 
	}

div.container.opened > div.container > header > div > ul.sandwich > li,
div.container > header > div > ul.sandwich:hover > li:first-child,
div.container > header > div > ul.sandwich:hover > li:nth-child(2),
div.container > header > div > ul.sandwich:hover > li:nth-child(3),
div.container > header > div > ul.sandwich > li:last-child { width : 100%; }
div.container > header > div > ul.sandwich > li:last-child {  bottom : 0; }
div.container.opened > div.container > header > div > ul.sandwich > li:first-child { transform : rotate(45deg); }
div.container.opened > div.container > header > div > ul.sandwich > li:nth-child(2) { transform : rotate(-45deg); }
div.container.opened > div.container > header > div > ul.sandwich > li:nth-child(3) { top : -2px; }	
div.container.opened > div.container > header > div > ul.sandwich > li:last-child { bottom : -2px; }

div.container > header > div > div.logo > a {
	display : block;
	background-image : url("../img/logo.svg?25042019");
	background-position : 50% 50%;
	background-repeat : no-repeat;
	background-size : contain;
	}
	
@media (min-width : 1401px) {
	div.container > header {
		position : fixed;
		top : 0;
		z-index : 101;
		width : calc(100% - 280px);
		height : 100px;
		padding : 30px 0;
		}
		
	div.container > header > div {
		padding : 0 60px;
		}
		
	div.container > header > div > button {
		right : 60px;
		padding : 0 15px 0 45px;
		}
		
	div.container > header > div > a.phone {
		right : 330px;
		}
		
	div.container > header > div > a.move {
		left : 100px;
		}
		
	div.container > header > div > a.move::before {
		right : calc(100% + 10px);
		}
		
	div.container > header > div > ul.sandwich {
		display : none;
		}
				
	div.container > header > div > div.logo {
		position : fixed;
		left : 40px;
		top : 30px;
		z-index : 10;
		width : 200px;
		height : 70px;
		}
		
	div.container > header > div > div.logo > a {
		width : inherit;
		height : inherit;		
		}
	}
	
@media (min-width : 1041px) and (max-width : 1400px) {
	div.container > header {
		position : fixed;
		top : 0;
		z-index : 101;
		width : calc(100% - 280px);
		height : 90px;
		padding : 25px 0;
		}
		
	div.container > header > div {
		padding : 0 50px;
		}
		
	div.container > header > div > button {
		right : 50px;
		padding : 0 15px 0 45px;
		}
		
	div.container > header > div > a.phone {
		right : 315px;
		}
		
	div.container > header > div > a.move {
		left : 90px;
		}
		
	div.container > header > div > a.move::before {
		right : calc(100% + 10px);
		}
		
	div.container > header > div > ul.sandwich {
		display : none;
		}
		
	div.container > header > div > div.logo {
		position : fixed;
		left : 40px;
		top : 25px;
		z-index : 10;
		width : 200px;
		height : 70px;
		}
		
	div.container > header > div > div.logo > a {
		width : inherit;
		height : inherit;		
		}
	}
	
@media (min-width : 721px) and (max-width : 1040px) {
	div.container > header {
		position : absolute;
		top : 0;
		z-index : 101;
		width : 100%;
		height : 170px;
		padding : 20px 0;
		}
		
	div.container > header > div {
		padding : 0 40px;
		}
		
	div.container > header > div > button {
		top : 90px;
		right : 40px;
		padding : 0 15px 0 45px;
		}
		
	div.container > header > div > a.phone {
		top : 90px;
		right : 300px;	
		}
		
	div.container > header > div > a.move {
		top : 30px;
		right : 40px;
		}
		
	div.container > header > div > a.move::before {
		right : calc(100% + 10px);
		}
		
	div.container > header > div > ul.sandwich {
		top : 96px;
		left : 40px;
		}
		
	div.container > header > div > div.logo > a {
		width : 200px;
		height : 70px;		
		}
	}
	
@media (min-width : 481px) and (max-width : 720px) {
	div.container > header {
		position : absolute;
		top : 0;
		z-index : 101;
		width : 100%;
		height : 160px;
		padding : 15px 0;
		}
		
	div.container > header > div {
		padding : 0 30px;
		}
		
	div.container > header > div > button {
		top : 90px;
		right : 30px;
		padding : 0 15px 0 35px;
		}
		
	div.container > header > div > button::after {
		display : none;
		}
		
	div.container > header > div > a.phone {
		top : 90px;
		right : 95px;
		}
		
	div.container > header > div > a.move {
		top : 35px;
		right : 30px;
		}
		
	div.container > header > div > a.move::before {
		right : calc(100% + 10px);
		}
		
	div.container > header > div > ul.sandwich {
		top : 96px;
		left : 30px;
		}
		
	div.container > header > div > div.logo > a {
		width : 200px;
		height : 70px;		
		}
	}
	
@media (max-width : 480px) {
	div.container > header {
		position : absolute;
		top : 0;
		z-index : 101;
		width : 100%;
		height : 150px;
		padding : 10px 0;
		}
		
	div.container > header > div {
		padding : 0 20px;
		}
		
	div.container > header > div > button {
		top : 85px;
		right : 20px;
		padding : 0 15px 0 35px;
		}
	
	div.container > header > div > a.move,
	div.container > header > div > button::after,
	div.container > header > div > a.move::after,
	div.container > header > div > a.phone::before {
		display : none;
		}
		
	div.container > header > div > a.phone {
		top : 85px;
		right : 80px;
		}
		
	div.container > header > div > ul.sandwich {
		top : 91px;
		left : 20px;
		}
		
	div.container > header > div > div.logo > a {
		width : 200px;
		height : 70px;
		margin : 0 auto;	
		}
	}