@charset "UTF-8";

article h6 {
	text-align : center;
	color : rgba(1, 31, 88, 1);
	}

/* div.content > p:first-of-type {
	text-transform: uppercase;
	text-align: center;
}

div.content > div.banner {
	height: 90px;
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(1, 31, 88, 1);
	margin: 20px 0 40px 0;
} */

div.content > blockquote.leader {
	text-align: left;
}

div.content > blockquote.accent,
div.content > blockquote.compare,
div.content > blockquote.prepare,
div.content > blockquote.prepare > b,
div.content > blockquote.compare > b {
	color: rgba(1, 31, 88, 1) !important;
}

div.content > ul.fig,
div.content > div.compare,
div.content > ul.review,
div.content > ul.recomend {
	display : flex;
	display : -webkit-box;
	display : -webkit-flex;
	display : -ms-flexbox;
	flex-wrap : wrap;
	-webkit-flex-wrap : wrap;
	-ms-flex-wrap : wrap;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	padding : 0;
}

article > div.content > ul.fig > li > img {
	width: 100%;
}

div.content > div.compare > ol,
div.content > ol {
	position: relative;
	counter-reset: myCounter;
}

div.content > div.compare > ol {
	margin: 0;
}

div.content > div.compare > ol > li,
div.content > ol > li {
	position: relative;
	list-style: none;
}

div.content > div.compare > ol > li:before,
div.content > ol > li::before {
	position: absolute;
	counter-increment: myCounter;
	content: counter(myCounter);
	display: inline-block;
}

div.content > div.compare > ol > li:before {
	left: -30px;
	top: 0;
	color: inherit;
}

div.content > div.compare > ol > li:after {
	position: absolute;
	content: ".";
	width: 2px;
	top: 0;
}

div.content > ol > li::before {
	top: 0;
	left: -30px;
	color: rgba(1, 31, 88, 1);
}

div.content > ol > li::after {
	position: absolute;
	content: "";
	width: 32px;
	border: 1px solid rgba(1, 31, 88, 1);
	border-radius: 50%;
}

article > div.content ul > li {
	padding: 0;
}

article > div.content ul > li::before {
	display: none;
}

div.content > blockquote.accent {
	border: 1px solid rgba(244, 86, 65, 1);
}

div.content > blockquote.accent.prepare {
	border: 1px solid rgba(153, 153, 153, 1);
}

div.content > p.figsign {
	font-style: italic;
	text-align: center;
	/* margin-top: 0; */
	margin : 0; 
}

div.content > div.compare {
	position: relative;
}

div.content > div.compare > div,
div.content > div.compare > div > span {
	height: 40px;
	}

div.content > div.compare > div > span {
	position : absolute;
	top : 0;
	left : calc(50% - 20px);
    display : block;
    width : 40px;
	}

div.content > div.compare > div.plus > span {
	border : 2px solid rgba(244, 86, 65, 1);
	border-radius : 50%;
	}

div.content > div.compare > div:not(.plus) > span {
	border : 2px solid rgba(1, 31, 88, 1);
	border-radius : 50%;
	}

div.content > div.compare > div.plus > span::before,
div.content > div.compare > div > span::after {
    position: absolute;
    top: 50%;
    left: 50%;
	margin: -1px 0 0 -8px;
    width: 16px;
    height: 2px;
    content: '.';
    text-indent: -999em;
    overflow: hidden;
    transition: all 0.25s ease;
	}

div.content > div.compare > div.plus > span::before,
div.content > div.compare > div.plus > span::after {
	background-color: rgba(244,86,65,1);
	}

div.content > div.compare > div:not(.plus) > span::after {
	background-color: rgba(1, 31, 88, 1);
	}

div.content > div.compare > div.plus > span::before {
    margin: -8px 0 0 -1px;
    width: 2px;
    height: 16px;
	}

div.content > ul.review > li,
div.content > ul.recomend > li > a {
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(233, 233, 233, 1);
	height: 100%;
}

div.content > ul.review > li > p:first-child {
	font-style: italic;
}

div.content > ul.review > li > p:last-child {
	color: rgba(1, 31, 88, 1);
}

div.content > ul.recomend > li > a {
	display: block;
}

div.content > ul.recomend > li > a:hover {
	border: 1px solid rgba(244, 86, 65, 1);
}

div.content > ul.recomend > li > a > div {
	position: relative;
	padding-top: 70%;
	overflow: hidden;
}

div.content > ul.recomend > li > a > div > img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: auto;
}

div.content > ul.recomend > li > a > p {
	text-align: center;
}

@media (min-width : 1401px) {
	article h6 {
		font : 600 28px/28px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		/* padding : 30px 0; */
		padding : 60px 0 30px 0;
	}

	/* div.content > ul.fig > li, */
	div.content > ul.review > li {
		width: calc(50% - 10px);
		margin-bottom: 20px;
		}
	
	article > div.content > ul.fig > li {
		width: calc(50% - 1px);
		margin-bottom: 20px;		
		}

	article > div.content > ul.fig > li:first-child {
		margin-right: 20px;
		margin-right: 2px;
		}

	article > div.content > blockquote {
		font : 400 20px/30px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	}

	div.content > blockquote.accent,
	div.content > blockquote.compare,
	div.content > blockquote.prepare {
		padding: 30px 70px;
	}

	article > div.content > blockquote > b {
		font : 700 20px/30px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	}

	div.content > div.compare > ol {
		width: 50%;
	}

	div.content > div.compare > ol > li {
		margin-bottom: 20px;
	}

	div.content > div.compare > ol > li:before {
		line-height: 24px;
	}

	div.content > div.compare > ol > li:after {
		height: 24px;
		left: -20px;
	}

	div.content > div.compare > ol:first-of-type {
		border-right: 1px solid rgba(68, 68, 68, 1);
		padding: 70px 20px 0 40px;
	}

	div.content > div.compare > ol:last-of-type {
		padding: 70px 0 0 60px;
	}

	article > div.content > div.compare > div {
		position : absolute;
		top : 0;
		width : 50%;
		}

	article > div.content > div.compare > div.plus {
		left: 0;
		}

	article > div.content > div.compare > div:not(.plus) {
		right: 0;
		}

	div.content > ul.review > li,
	div.content > ul.recomend > li > a {
		padding: 20px;
	}

	div.content > ul.recomend > li {
		width: calc((100% - 42px) / 3);
		margin-bottom: 20px;
	}

	div.content > ul.recomend > li:not(:last-child) {
		margin-right: 20px;
	}

	div.content > ol > li:not(:last-child) {
		margin-bottom: 25px;
	}

	article > div.content > ol > li::before {
		font : 600 16px/24px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	}

	div.content > ol > li::after {
		width: 32px;
		height: 32px;
		top: -5px;
		left: -43px;
	}
}

@media (min-width : 1041px) and (max-width : 1400px) {
	article h6 {
		font : 600 26px/28px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		/* padding : 25px 0; */
		padding : 50px 0 25px 0;
	}

	/* div.content > ul.fig > li, */
	div.content > ul.review > li {
		width: calc(50% - 10px);
		margin-bottom: 20px;
		}

	article > div.content > ul.fig > li {
		width: calc(50% - 1px);
		margin-bottom: 20px;		
		}

	article > div.content > ul.fig > li:first-child {
		/* margin-right: 20px; */
		margin-right: 2px;
		}

	article > div.content > blockquote {
		font : 400 20px/30px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	}

	div.content > blockquote.accent,
	div.content > blockquote.compare,
	div.content > blockquote.prepare {
		padding: 25px 60px;
	}

	article >  div.content > blockquote > b {
		font : 700 20px/30px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	}

	div.content > div.compare > ol {
		width: 50%;
		list-style: none;

	}

	div.content > div.compare > ol > li {
		margin-bottom: 20px;
	}

	div.content > div.compare > ol > li:before {
		line-height: 24px;
	}

	div.content > div.compare > ol > li:after {
		height: 24px;
		left: -20px;
	}

	div.content > div.compare > ol:first-of-type {
		border-right: 1px solid rgba(68, 68, 68, 1);
		padding: 70px 20px 0 40px;
	}

	div.content > div.compare > ol:last-of-type {
		padding: 70px 0 0 60px;
	}

	article > div.content > div.compare > div {
		position : absolute;
		top : 0;
		width : 50%;
		}

	article > div.content > div.compare > div.plus {
		left: 0;
		}

	article > div.content > div.compare > div:not(.plus) {
		right: 0;
		}

	div.content > ul.review > li,
	div.content > ul.recomend > li > a {
		padding: 20px;
	}

	div.content > ul.recomend > li {
		width: calc((100% - 42px) / 3);
		margin-bottom: 20px;
	}

	div.content > ul.recomend > li:not(:last-child) {
		margin-right: 20px;
	}

	div.content > ol > li:not(:last-child) {
		margin-bottom: 25px;
	}

	article > div.content > ol > li::before {
		font : 600 16px/24px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	}

	div.content > ol > li::after {
		width: 32px;
		height: 32px;
		top: -5px;
		left: -43px;
	}
}

@media (min-width : 721px) and (max-width : 1040px) {
	article h6 {
		font : 600 24px/28px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		/* padding : 20px 0; */
		padding : 40px 0 20px 0;
	}

	/* div.content > ul.fig > li, */
	div.content > ul.review > li {
		width: calc(50% - 10px);
		margin-bottom: 20px;
		}
	
	article > div.content > ul.fig > li {
		width: calc(50% - 1px);
		margin-bottom: 20px;		
		}

	article > div.content > ul.fig > li:first-child {
		/* margin-right: 20px; */
		margin-right: 2px;
		}

	article > div.content > blockquote {
		font : 400 16px/24px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	}

	div.content > blockquote.accent,
	div.content > blockquote.compare,
	div.content > blockquote.prepare {
		padding: 20px 50px;
	}

	article > div.content > blockquote > b {
		font : 700 16px/24px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	}

	div.content > div.compare > ol {
		width: 50%;
	}

	div.content > div.compare > ol > li:before {
		line-height: 20px;
	}

	div.content > div.compare > ol > li:after {
		height: 20px;
		left: -20px;
	}

	div.content > div.compare > ol > li {
		margin-bottom: 20px;
	}

	div.content > div.compare > ol:first-of-type {
		border-right: 1px solid rgba(68, 68, 68, 1);
		padding: 60px 20px 0 30px;
	}

	div.content > div.compare > ol:last-of-type {
		padding: 60px 0 0 50px;
	}

	article > div.content > div.compare > div {
		position : absolute;
		top : 0;
		width : 50%;
		}

	article > div.content > div.compare > div.plus {
		left: 0;
		}

	article > div.content > div.compare > div:not(.plus) {
		right: 0;
		}

	div.content > ul.review > li,
	div.content > ul.recomend > li > a {
		padding: 20px;
	}

	div.content > ul.recomend > li {
		width: calc((100% - 32px) / 3);
		margin-bottom: 15px;
	}

	div.content > ul.recomend > li:not(:last-child) {
		margin-right: 15px;
	}

	div.content > ol > li:not(:last-child) {
		margin-bottom: 20px;
	}

	article > div.content > ol > li::before {
		font : 600 14px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	}

	div.content > ol > li::after {
		width: 30px;
		height: 30px;
		top: -5px;
		left: -42px;
	}
}

@media (min-width : 481px) and (max-width : 720px) {
	article h6 {
		font : 600 22px/24px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		/* padding : 15px 0; */
		padding : 30px 0 15px 0;
	}

	/* div.content > ul.fig > li, */
	div.content > ul.recomend > li {
		width: calc(50% - 5px);
		margin-bottom: 10px;
		}
	
	article > div.content > ul.fig > li {
		width: calc(50% - 1px);
		margin-bottom: 20px;		
		}

	article > div.content > ul.fig > li:first-child {
		/* margin-right: 10px; */
		margin-right: 2px;
		}

	div.content > ul.review > li {
		width: 100%;
		margin-bottom: 10px;
	}

	div.content > ul.recomend > li:last-child {
		margin: 0 auto 10px auto;
	}

	article > div.content > blockquote {
		font : 400 16px/24px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	}

	div.content > blockquote.accent,
	div.content > blockquote.compare,
	div.content > blockquote.prepare {
		padding: 15px 30px;
	}

	article > div.content > blockquote > b {
		font : 700 16px/24px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	}


	div.content > div.compare > ol {
		width: 100%;
		padding: 15px 0;
	}

	div.content > div.compare > ol > li {
		margin-bottom: 15px;
		padding-left: 30px;
	}

	div.content > div.compare > ol > li:before {
		line-height: 20px;
		left: 0;
	}

	div.content > div.compare > ol > li:after {
		height: 20px;
		left: 8px;
	}

	div.content > div.compare > ol:first-of-type {
		border-bottom: 1px solid rgba(68, 68, 68, 1);
		margin-bottom: 20px;
	}

	article > div.content > div.compare > div {
		position : relative;
		width : 100%;
		}

	div.content > ul.review > li,
	div.content > ul.recomend > li > a {
		padding: 15px;
	}

	div.content > ol > li:not(:last-child) {
		margin-bottom: 20px;
	}

	article > div.content > ol > li::before {
		font : 600 14px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	}

	div.content > ol > li::after {
		width: 30px;
		height: 30px;
		top: -5px;
		left: -42px;
	}

}

@media (max-width : 480px) {
	article h6 {
		font : 600 20px/24px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		/* padding : 10px 0; */
		padding : 20px 0 10px 0;
	}

	div.content > ul.fig > li:nth-child(even),
	div.content > ul.review > li,
	div.content > ul.recomend > li {
		width: 100%;
		margin-bottom: 10px;
	}
	
	div.content > ul.fig > li:nth-child(odd) {
		width: 100%;
		margin-bottom: 2px;
		}

	article > div.content > blockquote {
		font : 400 16px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	}

	div.content > blockquote.accent,
	div.content > blockquote.compare,
	div.content > blockquote.prepare {
		padding: 10px 20px;
	}

	article > div.content > blockquote > b {
		font : 700 16px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	}


	div.content > div.compare > ol {
		width: 100%;
		padding: 10px 0;
	}

	div.content > div.compare > ol > li {
		margin-bottom: 10px;
		padding-left: 20px;
	}

	div.content > div.compare > ol > li:before {
		line-height: 20px;
		left: 0;
	}

	div.content > div.compare > ol > li:after {
		height: 20px;
		left: 8px;
	}

	div.content > div.compare > ol:first-of-type {
		border-bottom: 1px solid rgba(68, 68, 68, 1);
		margin-bottom: 20px;
	}

	article > div.content > div.compare > div {
		position : relative;
		width : 100%;
		}

	div.content > ul.review > li,
	div.content > ul.recomend > li > a {
		padding: 15px;
	}

	div.content > ol > li:not(:last-child) {
		margin-bottom: 15px;
	}

	article > div.content > ol > li::before {
		font : 600 14px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
	}

	div.content > ol > li::after {
		width: 26px;
		height: 26px;
		top: -4px;
		left: -40px;
	}

}
