@charset "UTF-8";

div.menu > span {
	display : block;
	position : absolute;
	top : 0;
	left : 40px;
	z-index : 10;
	width : calc(100% - 80px);
	background-color : inherit;
	border-bottom : solid 1px rgba(203, 207, 213, 1);
	text-align : center;
	}

div.container > nav {
	position : fixed;
	top : 0;
	left : 0;
	z-index : 100;
	width : 280px;
	height : calc(100% - 100px);
	min-height : 100vh;
	background-color : rgba(244, 245, 246, 1);
	box-shadow : 0 0 10px 5px rgba(52, 86, 129, 0.1);
	}

div.container > nav > div {
	position : relative;
	width : 100%;
	height : 100%;
    overflow : hidden;
    }
    
div.container > nav > div {
	color : rgba(1, 31, 88, 1);
	}
 
div.container > nav > div > div > ul,
div.container > nav > div > div > ul > li > ul {
	padding : 0;
	margin : 0;
	list-style : none;
	}

div.container > nav > div > div ul > li > span,
div.container > nav > div > div ul > li > a,
div.container > nav > div > div ul > li > a > span {
	display : block;
	color : inherit;
	transition : all 0.25s ease;
	}
	
div.container > nav > div > div ul > li > a::before,
div.container > nav > div > div ul > li > a + div {
	display : none !important;
	}
	
div.container > nav > div > div ul > li > span,
div.container > nav > div > div ul > li > a > span {
	padding-top : .5em;
	padding-bottom : .5em;	
	}
	
/* div.container > nav > div > div ul > li > span,
div.container > nav > div > div ul > li > a > span {
	padding-right : 40px;	
	}

div.container > nav > div > div > ul > li > span,
div.container > nav > div > div > ul > li > a > span {
	padding-left : 40px;	
	}

div.container > nav > div > div > ul > li > ul > li > span,	
div.container > nav > div > div > ul > li > ul > li > a > span {
	padding-left : 40px;	
	} */

div.container > nav  ul > li > span,
div.container > nav  ul > li > a > span {
	padding-left : 40px;
	padding-right : 40px;
	}	

div.container > nav > div > div ul > li > a.selected,
div.container > nav > div > div ul > li > a:hover {
	background-color : rgba(255, 255, 255, 1);
	}

div.container > nav > div > div ul > li > a.selected {
	color : rgba(244, 86, 65, 1);
	}

div.container > nav > div.swiper-container > div.swiper-scrollbar,
div.container > nav > div.swiper-container > div.swiper-scrollbar > div.swiper-scrollbar-drag {
	border-radius : 5px;
	}

div.container > nav > div.swiper-container > div.swiper-scrollbar {
    position : absolute;
    right : 5px;
    top : .65em;
    z-index : 40;
    width : 5px;
    height : calc(100% - 1em);
    opacity : 0;
    transition : all 0.25s ease;
	}

div.container > nav > div.swiper-container:hover > div.swiper-scrollbar {
	opacity : 1;
	}

div.container > nav > div.swiper-container > div.swiper-scrollbar > div.swiper-scrollbar-drag {
    background-color : rgba(0, 0, 0, 0.25);
	}

@media (min-width : 1401px) {	
	div.container > nav {
		padding-top : 60px;
		padding-bottom : 60px;
		}
	
	div.container > nav > div > div > ul > li {
		font: 600 16px/24px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}

	div.container > nav > div > div > ul > li > ul > li {
		font: 400 16px/24px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
	}
	
@media (min-width : 1041px) and (max-width : 1400px) {
	div.container > nav {
		padding-top : 50px;
		padding-bottom : 50px;
		}
			
	div.container > nav > div > div > ul > li {
		font: 600 16px/24px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}

	div.container > nav > div > div > ul > li > ul > li {
		font: 400 16px/24px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
	}
	
@media (min-width : 721px) and (max-width : 1040px) {
	div.container > nav {
		padding-top : 40px;
		padding-bottom : 40px;
		}
			
	div.container > nav > div > div > ul > li {
		font: 600 14px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}

	div.container > nav > div > div > ul > li > ul > li {
		font: 400 14px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
	}
	
@media (min-width : 481px) and (max-width : 720px) {
	div.container > nav {
		padding-top : 30px;
		padding-bottom : 30px;
		}
		
	div.container > nav > div > div > ul > li {
		font: 600 14px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}

	div.container > nav > div > div > ul > li > ul > li {
		font: 400 14px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
	}
	
@media (max-width : 480px) {
	div.container > nav {
		padding-top : 20px;
		padding-bottom : 20px;
		}
		
	div.container > nav > div > div > ul > li {
		font: 600 14px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}

	div.container > nav > div > div > ul > li > ul > li {
		font: 400 14px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
	}