@charset "UTF-8";

body {
	background-color : rgba(255, 255, 255, 1);
	color : rgba(68, 68, 68, 1);
	}
	
div.container {
	position : relative;
	display : table !important;
	width : 100%;
	height : 100%;
	min-width : 320px;
	min-height : 100vh;
	overflow : hidden;
	}
	
/* a:not(.fix) {
	position : relative;
	display : inline-block;
	color : rgba(244, 86, 65, 1);
	text-decoration : none;
	}

a:not(.fix)::before {
	position : absolute;
	bottom : 0;
	left : 0;
	z-index : 10;
	height : 1px;
	width : 100%;
	content : "";
	background-color : rgba(244, 86, 65, 1);
	transition : all 0.25s ease;
	}

a:not(.fix):hover::before {
	width : 0;
	} */
	
a {
	color : rgba(244, 86, 65, 1);
	text-decoration : underline;
	}
	
a:hover {
	text-decoration : none;
	}
	
@keyframes ring-rotate {
	from {
    	transform : rotate(0deg);
    	-webkit-transform : rotate(0deg);
    	-ms-transform : rotate(-20deg);
		}
	50% {
    	transform : rotate(20deg);
    	-webkit-transform : rotate(20deg);
    	-ms-transform : rotate(20deg);
		}
	to {
    	transform : rotate(0deg);
    	-webkit-transform : rotate(0deg);
    	-ms-transform : rotate(0deg);
  		}
	}
	
@keyframes ring-fill {
	from {
    	transform : scale(0.7);
    	-webkit-transform : scale(0.7);
    	-ms-transform : scale(0.7);
		}
	50% {
    	transform : scale(1);
    	-webkit-transform : scale(1);
    	-ms-transform : scale(1)
		}
	to {
    	transform : scale(0.7);
    	-webkit-transform : scale(0.7);
    	-ms-transform : scale(0.7);
  		}	
	}
	
@keyframes ring-hide {
	from {
    	transform : scale(0.5);
    	-webkit-transform : scale(0.5);
    	-ms-transform : scale(0.5);
    	opacity : 1;
		}
	to {
    	transform : scale(1);
    	-webkit-transform : scale(1);
    	-ms-transform : scale(1);
    	opacity : 0;
  		}	
	}
	
div.container > a.fix {
	display : none;
	position : fixed;
	z-index : 80;
	border-radius : 50%;
	text-indent : -999px;
	text-decoration : none;
	overflow : hidden;
	}
	
div.container > a.fix > span {
	display : inherit;
	text-indent : inherit;
	width : inherit;
	height : inherit;
	border-radius : inherit;
	overflow : inherit;
	position : absolute;
	top : 0;
	left : 0;
	z-index : 5;
	border : solid 2px rgba(244, 86, 65, 0.5);
	animation : ring-hide 2.3s infinite ease-in-out;
	-webkit-animation : ring-hide 2.3s infinite ease-in-out;
	-moz-animation : ring-hide 2.3s infinite ease-in-out;
	-o-animation : ring-hide 2.3s infinite ease-in-out;
	}

div.container > a.fix::before,
div.container > a.fix::after {
	display : block;
	position : absolute;
	border-radius : 50%;
	}
	
div.container > a.fix::after {
	z-index : 15;
	text-indent : 0;
	text-align : center;
	content : "\e907";
	background-color : rgba(244, 86, 65, 0.75);
	color : rgba(255, 255, 255, 0.75);
	transition : all 0.25s ease;
	animation : ring-rotate 2.3s infinite ease-in-out;
	-webkit-animation : ring-rotate 2.3s infinite ease-in-out;
	-moz-animation : ring-rotate 2.3s infinite ease-in-out;
	-o-animation : ring-rotate 2.3s infinite ease-in-out;
	}
	
div.container > a.fix::before {
	z-index : 10;
	content : "";
	background-color : rgba(244, 86, 65, 0.5);
	animation : ring-fill 2.3s infinite ease-in-out;
	-webkit-animation : ring-fill 2.3s infinite ease-in-out;
	-moz-animation : ring-fill 2.3s infinite ease-in-out;
	-o-animation : ring-fill 2.3s infinite ease-in-out;
	}
	
@media (min-width : 1401px) {
	body {
		font : 400 16px/24px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container {
		padding-left : 280px;
		}
		
	div.container > a.fix {
		width : 120px;
		height : 120px;
		}
		
	div.container > a.fix::before {
		top : calc(50% - 40px);
		left : calc(50% - 40px);
		width : 80px;
		height : 80px;		
		}
		
	div.container > a.fix::after {
		top : calc(50% - 30px);
		left : calc(50% - 30px);
		width : 60px;
		height : 60px;
		font : normal 26px/60px "icomoon" !important;	
		}
		
	div.container > a.fix.callback {
		display : block;
		right : 40px;
		bottom : 40px;
		}
	}
	
@media (min-width : 1041px) and (max-width : 1400px) {
	body {
		font : 400 16px/24px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container {
		padding-left : 280px;
		}
		
	div.container > a.fix {
		width : 120px;
		height : 120px;
		}
		
	div.container > a.fix::before {
		top : calc(50% - 40px);
		left : calc(50% - 40px);
		width : 80px;
		height : 80px;		
		}
		
	div.container > a.fix::after {
		top : calc(50% - 30px);
		left : calc(50% - 30px);
		width : 60px;
		height : 60px;
		font : normal 26px/60px "icomoon" !important;	
		}
		
	div.container > a.fix.callback {
		display : block;
		right : 35px;
		bottom : 35px;
		}
	}
	
@media (min-width : 721px) and (max-width : 1040px) {
	body {
		font : 400 14px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > a.fix {
		width : 100px;
		height : 100px;
		}
		
	div.container > a.fix::before {
		top : calc(50% - 33px);
		left : calc(50% - 33px);
		width : 66px;
		height : 66px;		
		}
		
	div.container > a.fix::after {
		top : calc(50% - 25px);
		left : calc(50% - 25px);
		width : 50px;
		height : 50px;
		font : normal 20px/50px "icomoon" !important;	
		}
		
	div.container > a.fix.callback {
		display : block;
		right : 30px;
		bottom : 30px;
		}
	}
	
@media (min-width : 481px) and (max-width : 720px) {
	body {
		font : 400 14px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > a.fix {
		width : 80px;
		height : 80px;
		}
		
	div.container > a.fix::before {
		top : calc(50% - 27px);
		left : calc(50% - 27px);
		width : 54px;
		height : 54px;		
		}
		
	div.container > a.fix::after {
		top : calc(50% - 20px);
		left : calc(50% - 20px);
		width : 40px;
		height : 40px;
		font : normal 16px/40px "icomoon" !important;	
		}
		
	div.container > a.fix.call {
		display : block;
		right : 25px;
		bottom : 25px;
		}
	}
	
@media (max-width : 480px) {
	body {
		font : 400 14px/20px "Open Sans", Arial, Tahoma, Verdana, sans-serif;
		}
		
	div.container > a.fix {
		width : 80px;
		height : 80px;
		}
		
	div.container > a.fix::before {
		top : calc(50% - 27px);
		left : calc(50% - 27px);
		width : 54px;
		height : 54px;		
		}
		
	div.container > a.fix::after {
		top : calc(50% - 20px);
		left : calc(50% - 20px);
		width : 40px;
		height : 40px;
		font : normal 16px/40px "icomoon" !important;	
		}
		
	div.container > a.fix.call {
		display : block;
		right : 20px;
		bottom : 20px;
		}
	}