@charset "UTF-8";

@font-face {
	font-family : "icomoon";
  	src :  	url("icomoon.eot?040320191945");
  	src :  	url("icomoon.eot?040320191945#iefix") format("embedded-opentype"),
    		url("icomoon.ttf?040320191945") format("truetype"),
    		url("icomoon.woff?040320191945") format("woff"),
    		url("icomoon.svg?040320191945#icomoon") format("svg");
  	font-weight : normal;
  	font-style : normal;
	}