@charset "UTF-8";

@font-face {
	font-family: "icomoon";
  	src:  	url("icomoon.eot?v1hqgv");
  	src:  	url("icomoon.eot?v1hqgv#iefix") format("embedded-opentype"),
    		url("icomoon.ttf?v1hqgv") format("truetype"),
    		url("icomoon.woff?v1hqgv") format("woff"),
    		url("icomoon.svg?v1hqgv#icomoon") format("svg");
  	font-weight: normal;
  	font-style: normal;
	}